*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 1.3rem;
}

a:hover {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

p {
  font-size: 1.2rem;
}

p strong {
  font-size: 1.4rem;
}

.red-link {
  display: block;
  grid-column: 1 / -1;
  color: #ff4422;
  font-size: 2.3rem;
  font-weight: 900;
  padding-top: 3rem;
}

.red-link:hover {
  color: black;
}

.red-text {
  color: #ff4422;
  list-style: none;
  font-size: 1.4rem;
}

.nav__1 {
  background: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

@media screen and (max-width: 770px) {
  .nav__1 {
    display: none;
  }
}

.nav__1--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__1--left > div {
  padding: 0 1rem;
}

.nav__1--left > div:first-of-type a {
  color: white;
}

.nav__1--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__1--right > div {
  padding: 0 1rem;
}

.nav__2 {
  background: #fdfdfd;
}

.nav__2 ul {
  margin: 0;
  padding: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__2 ul img {
  height: 5rem;
}

@media screen and (max-width: 1100px) {
  .nav__2 ul img {
    display: none;
  }
}

.nav__2__links {
  color: gray;
  text-transform: uppercase;
  padding: 0 1rem;
}

.nav__2__links:hover {
  color: black;
}

.nav__3 {
  background: #ffdd33;
  padding: 1rem 1.8rem;
}

.main__section-1 {
  display: -ms-grid;
  display: grid;
  padding: .2rem 1rem;
  color: white;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "cov1 cov2" "cov1 cov3";
}

@media screen and (max-width: 770px) {
  .main__section-1 {
    height: 120rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1600px) {
  .main__section-1 {
    -ms-grid-rows: (minmax(100px, 250px))[2];
        grid-template-rows: repeat(2, minmax(100px, 250px));
  }
}

.main__section-1__date {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.main__section-1__subgroup {
  display: block;
  text-transform: uppercase;
  padding-top: 50%;
}

@media screen and (min-width: 1600px) {
  .main__section-1__subgroup {
    padding-top: 22%;
  }
}

.main__section-1__heading {
  font-size: 3.5rem;
  font-weight: 900;
}

.main__section-1__by {
  display: block;
  font-size: 1.3rem;
  padding: 2rem 0 1.5rem 0;
  color: #b3b0aa;
}

.main__section-1__heading-2 {
  font-size: 2.6rem;
  padding: 2rem;
}

.main__section-1__cover-story-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cov1;
  position: relative;
  padding: 0 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 0, 0, 0.6)), color-stop(80%, rgba(0, 0, 0, 0.9))), url("../img/image1.jpg");
  background: linear-gradient(rgba(255, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.9) 80%), url("../img/image1.jpg");
  background-size: cover;
}

.main__section-1__cover-story-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cov2;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black)), url(../img/pink.jpg);
  background: linear-gradient(transparent, black), url(../img/pink.jpg);
  background-size: cover;
  margin-left: 1rem;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 770px) {
  .main__section-1__cover-story-2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.main__section-1__cover-story-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cov3;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(95%, black)), url(../img/apple.jpg);
  background: linear-gradient(transparent, black 95%), url(../img/apple.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 1rem;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 770px) {
  .main__section-1__cover-story-3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 0;
  }
}

.main__wrapper__section-2 {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem;
      grid-template-rows: 5rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3rem;
  grid-auto-rows: 1fr;
  place-items: stretch;
  padding: 1rem;
}

.main__wrapper__section-2__videos {
  cursor: pointer;
}

.main__wrapper__section-2__videos img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 700px) {
  .main__wrapper__section-2__videos img {
    max-width: 10rem;
    max-height: 10rem;
    float: left;
    margin-right: .5rem;
  }
}

.main__wrapper__section-2__videos h2 {
  padding: 1rem 0;
}

@media screen and (max-width: 700px) {
  .main__wrapper__section-2__videos h2 {
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.3rem;
  }
}

.main__wrapper__section-2__videos h2:hover {
  color: #ff4422;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffbcb0;
          text-decoration-color: #ffbcb0;
}

.main__wrapper__section-2__videos span {
  color: #a7a7a7;
}

.main__wrapper__section-3 {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media screen and (max-width: 700px) {
  .main__wrapper__section-3 {
    padding: 1rem;
  }
}

.main__wrapper__section-3__latest {
  padding: 2rem 0;
}

.main__wrapper__section-3__funding {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .main__wrapper__section-3__funding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__wrapper__section-3__funding ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper__section-3__funding ul li {
  padding: 0 1rem;
}

.main__wrapper__section-3__funding ul li:not(:last-child) {
  border-right: 1px solid red;
}

.main__wrapper__section-3__videos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 -1rem;
}

@media screen and (max-width: 900px) {
  .main__wrapper__section-3__videos {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media screen and (max-width: 500px) {
  .main__wrapper__section-3__videos {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.main__wrapper__section-3__videos img {
  width: 100%;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .main__wrapper__section-3__videos {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .main__wrapper__section-3__videos:last-child {
    display: none;
  }
}

.main__wrapper__section-4 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

.main__wrapper__section-5 {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem;
      grid-template-rows: 5rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3rem;
  place-items: stretch;
  padding: 1rem;
}

.main__wrapper__section-5__latest {
  display: block;
  grid-column: 1 / -1;
}

.main__wrapper__section-5__videos {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.footer__links {
  background: seashell;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__legal {
  background: gainsboro;
  max-width: 1200px;
  margin: 0 auto;
}

.foot__links {
  max-width: 1200px;
  margin: 0 auto;
  background: #131313;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot__links__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot__links__icons svg {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 50%;
  background: #333333;
  margin: 2rem 1rem 1rem 1rem;
  fill: white;
}

.foot__links__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot__links__list ul li {
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 1rem;
}

.foot__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: black;
  height: 8rem;
}
/*# sourceMappingURL=main.css.map */